#!/usr/bin/env bash

# -------------------------------------------------------------------
# ALIASES
# -------------------------------------------------------------------

alias l="ls -1 --color=auto --group-directories-first"
alias vi="nvim"
alias vim="nvim"
alias v="vifm $HOME"
alias update='sudo apt update; sudo apt upgrade; sudo apt autoremove'


# -------------------------------------------------------------------
# FUNCTIONS
# -------------------------------------------------------------------

# Man pages in nvim
man() {
    if apropos -e "$1" &>/dev/null; then
        nvim -c ":Man $1 | :wincmd j | :wincmd c"
    else
        echo "Invalid Man: $1"
    fi
}

# Reverse search (keybound to <C-r>)
_reverse_search_() {
    cmd=$(history | sed -E "s/^\s+[0-9]+\s+//" | \
        fzf --border --reverse --tac --no-sort -q "$READLINE_LINE")
    if [[ -n "$cmd" ]]; then
        alias vi="nvim"
        alias vim="nvim"
        eval "$cmd"
    fi
}
