# workstation-specific config
**/__config/*
!**/__config/__*
__zshrc

# nvim
autoload/
bundle/
.netrwhist

# vifm
vifminfo*
vifm-help.txt

# qutebrowser
__pycache__
qsettings
autoconfig.yml
bookmarks/
quickmarks
