
/*
 * -----------------------------------------------------------------------------
 * GENERAL STYLES
 * -----------------------------------------------------------------------------
 */

* {
    text-color: #abb2bf;
    background-color: #282c34;
    border-color: #98c379;
	font: "mono 12";
}

#window {
    width: 900px;
    border: 5;
}


/*
 * -----------------------------------------------------------------------------
 * NORMAL LAYOUT
 * -----------------------------------------------------------------------------
 */

#inputbar {
    border: 0 0 1px 0;
    children: [prompt,entry];
}

#prompt {
    padding: 16px;
    border: 0 1px 0 0;
    text-color: #c678dd;
}

#entry {
    padding: 16px;
}

#listview {
    cycle: false;
    lines: 7;
}

#element {
    border: 0 0 1px 0;
    padding: 16px;
}

#element selected {
    text-color: #61afef;
    background-color: #2e343f;
}


/*
 * -----------------------------------------------------------------------------
 * ERROR MESSAGE
 * -----------------------------------------------------------------------------
 */

#error-message {

}

/* vim:ft=css
