#PersonalToolbar,
#page-action-buttons,
toolbarbutton,
toolbarspring {
  display: none;
}

#urlbar-container {
  --urlbar-height: 0;
  margin: 0;
  padding: 0;
}

#urlbar[focused="true"] {
  --urlbar-height: 100%;
}
