@-moz-document url('about:home'), url('about:newtab') {
  body {
    --onedark-black: #282c34;
    --onedark-red: #e06c75;
    --onedark-green: #98c379;
    --onedark-yellow: #e5c07b;
    --onedark-blue: #61afef;
    --onedark-purple: #c678dd;
    --onedark-cyan: #56b6c2;
    --onedark-white: #abb2bf;

    --onedark-dark-grey: #545862;
    --onedark-light-grey: #c8ccd4;
    --onedark-blacker: #212328;
    --onedark-void: #000000;

    --newtab-text-primary-color: var(--onedark-white) !important;
    --newtab-text-secondary-color: var(--onedark-dark-grey) !important;
    --newtab-textbox-background-color: var(--onedark-blacker) !important;

    --newtab-background-color: var(--onedark-black) !important;
    --newtab-card-background-color: var(--onedark-blacker) !important;
  }

  .icon-settings,
  .search-wrapper,
  .card-context,
  .section-top-bar {
    display: none !important;
  }

  .section-body,
  .collapsible-section {
    margin: 0 !important;
    padding: 0 !important;
  }

  .card-outer {
    margin: 0 !important;
    max-width: 200px !important;
    background: var(--newtab-card-background-color) !important;
  }
}
