[Unit]
Description=Lock X session
Before=sleep.target

[Service]
User=bsuth
Environment=DISPLAY=:0
Type=forking
ExecStart=/usr/bin/physlock -p "If you're reading this, it means you're trying to break into my computer >:(" 2>/dev/null

[Install]
WantedBy=sleep.target
