/* -------------------------------------------------------------------------- */
/* Onedark Palette                                                            */
/* -------------------------------------------------------------------------- */

:root {
  --onedark-black: #282c34;
  --onedark-red: #e06c75;
  --onedark-green: #98c379;
  --onedark-yellow: #e5c07b;
  --onedark-blue: #61afef;
  --onedark-purple: #c678dd;
  --onedark-cyan: #56b6c2;
  --onedark-white: #abb2bf;

  --onedark-dark-grey: #545862;
  --onedark-light-grey: #c8ccd4;
  --onedark-blacker: #212328;
  --onedark-void: #000000;
}

/* -------------------------------------------------------------------------- */
/* General                                                                    */
/* -------------------------------------------------------------------------- */

#PersonalToolbar,
#tracking-protection-icon-container,
#identity-box,
#page-action-buttons,
#urlbar-go-button,
.tab-close-button,
toolbarbutton,
toolbarspring {
  display: none !important;
}

#navigator-toolbox {
  position: relative !important;
  border-bottom: none !important;
}

#tabbrowser-tabs,
#tabbrowser-arrowscrollbox,
#nav-bar {
  min-height: 0 !important;
}

/* -------------------------------------------------------------------------- */
/* Tab Bar                                                                    */
/* -------------------------------------------------------------------------- */

#tabbrowser-tabs tab[first-visible-tab][last-visible-tab] {
  visibility: collapse !important;
}

#tabbrowser-tabs tab {
  padding-inline: 0 !important;
  color: var(--onedark-dark-grey) !important;
}

#tabbrowser-tabs tab[selected] {
  color: var(--onedark-white) !important;
  background-color: #abb2bf28 !important;
}

#tabbrowser-tabs tab .tab-background {
  display: none !important;
}

#tabbrowser-tabs tab[fadein]:not([pinned]) {
  -moz-box-flex: 100 !important;
  min-width: 0 !important;
  max-width: none !important;
}

/* -------------------------------------------------------------------------- */
/* Navbar (Address Bar, Addons, etc)                                          */
/* -------------------------------------------------------------------------- */

#urlbar-background,
#urlbar .urlbarView {
  display: none !important;
}

#nav-bar,
#nav-bar-customization-target,
#urlbar-container,
#urlbar-container moz-input-box,
#urlbar,
#urlbar-input-container {
  width: 100% !important;
  height: 0 !important;
  min-height: 0 !important;

  margin: 0 !important;
  margin-inline: 0 !important;
  margin-block: 0 !important;
  padding: 0 !important;
  padding-inline: 0 !important;
  padding-block: 0 !important;

  overflow: visible !important;

  top: 0 !important;
  left: 0 !important;

  border: none !important;
}

#nav-bar {
  display: block !important;
  position: absolute !important;
  z-index: 2 !important;
}

#urlbar-input {
  padding: 0 8px !important;
  color: var(--onedark-white) !important;
  background-color: var(--onedark-black) !important;
}

#urlbar[focused] #urlbar-input {
  min-height: 40px !important;
}
