// -----------------------------------------------------------------------------
// Palette
// -----------------------------------------------------------------------------

:root {
  --onedark-black: #282c34;
  --onedark-red: #e06c75;
  --onedark-green: #98c379;
  --onedark-yellow: #e5c07b;
  --onedark-blue: #61afef;
  --onedark-purple: #c678dd;
  --onedark-cyan: #56b6c2;
  --onedark-white: #abb2bf;

  --onedark-dark-grey: #545862;
  --onedark-light-grey: #c8ccd4;
  --onedark-blacker: #212328;
  --onedark-void: #000000;
}

// -----------------------------------------------------------------------------
// Defaults
// -----------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: var(--onedark-white);
  background: var(--onedark-black);
}

a {
  text-decoration: none;
}
